.sent {
    text-align: right;
    border:1px solid black;
    border-radius: 1rem;
    padding-top: 1rem;
    margin-right: 1rem;
}

.received {
    border:1px solid white;
    border-radius: 1rem;
    background-color: #bbbbbb;
    color: white;
    padding-top: 1rem;
    margin-left: 1rem;
}

.title {
    margin-top: 7rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.chatBox {
    margin-bottom: .5rem;
    height:55%;
    overflow-y:auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column-reverse;
}

.containerCB {
    border:1px solid black;
    border-radius: 1rem;
    padding-top: 1rem;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #618985;
    border-radius: 10px;
}

textarea {
    width: 80%;
    height: 2.8rem;
    border-radius: 5px;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: #618985!important;
}

.button_Color{
    color: white;
    background-color: #bbbbbb;
}
