{% load static %}
<html>

<head>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'user/base.css' %}">
  <!-- Material icons -->
  <title>QuickTutor</title>
</head>
{% if user.is_authenticated %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/">
    <!-- <img src="{% static 'user/logo.png' %}" alt="QuickTutor logo" class="logo"/> -->
    <h1>Quick Tutor</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" style="color:white">|</a>
      <a class="nav-item nav-link" href="/profile/viewprofile">Profile</a>
      <a class="nav-item nav-link" style="color:white">|</a>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tutoring
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/gethelp">Get Help</a>
          <a class="dropdown-item" href="/givehelp">Give Help</a>
        </div>
      </li>
      <a class="nav-item nav-link" style="color:white">|</a>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/about">About Us</a>
          <a class="dropdown-item" href="/FAQ">FAQs</a>
        </div>
      </li>
      <a class="nav-item nav-link" style="color:white">|</a>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/send">Messages  ({{count}})</a>
          <a class="dropdown-item" href="/requestsUpdate">Requests</a>
          <a class="dropdown-item" href="/profile/update">Update Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/account/logout">Logout</a>
        </div>
      </li>
    </div>
  </div>
</nav>

{% endif %}
<div class="container">
  {% block content %}
  {% endblock %}
</div>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>