{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<link rel="stylesheet" type="text/css" href="{% static 'user/tut.css' %}">


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    </head>
    <body>
        <div class="container">
            <div class="row flex-row justify-content-center picAndName">
                <div class="media-body">
                    <h2 class="account-heading hding">{{ user.first_name }} {{ user.last_name }} </h2>
                    <h6 class="update" style="text-align: center;"><a class="update" href="/profile/update">Update Profile</a></h6>
                </div>
            </div>
            <!-- <div role="main" class="container"> -->
                <div class="row flex-row justify-content-center cardBlock">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">

                                    {% ifequal user.profile.active_tutor True %}
                                        <p class="list-group-item"><b>Active Tutor Status:</b> Live</p>
                                    {% else %}
                                        <p class="list-group-item"><b>Active Tutor Status:</b> Not live</p>
                                    {% endifequal %}

                                    <p class="list-group-item"><b>Bio:</b> {{ user.profile.bio }}</p>
                                    <p class="list-group-item"><b>School Year:</b> {{ user.profile.year }}</p>
                                    <p class="list-group-item"><b>Classes Taken:</b> {{ user.profile.classes_taken }}</p>

                                </ul>
                            </div>
                        </div>
                    </div>                
                </div>
        </div>
            <!-- </div> -->
        
    </body>
</html>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
