{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stat\about.css' %}">


<div class="row justify-content-center">
    <h1>About QuickTutor</h1>
</div>

<hr />

<div class="row justify-content-center content">

    <div class="col-md-10">
        <h1 class="h1About">Meet Our Team!</h1>
    </div>

    <h4 class="h1About">QuickTutor's mission is to bring together students in need of help, and other available
        students nearby who are willing to help through our seamless modern platform.</h4>
    
    <div class="row extraPadding">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/media/stephen.jpg" alt="pic" height="150" width="150" style="border-radius: 50%;">
                <p class="text-center">Stephen Palathingal is a third-year student studying Computer Science with a
                    minor
                    in entrepreneurship.
                    He is the DevOps Manager for the team.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="/media/belen.jpg" alt="pic" height="150" width="150" style="border-radius: 50%;">
                <p class="text-center">Belen is a third-year student studying Computer Science and Cognitive Science,
                    with a concentration in Linguistics. She is the requirements manager for the team.</p>
            </div>
        </div>
    </div>
    <div class="row extraPadding">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/media/Rowan.jpg" alt="pic" height="150" width="150" style="border-radius: 50%;">
                <p class="text-center">Rowan is a third-year student studying Computer Science in the School of
                    Engineering and
                    Applied Science although his real passion is spontaneous combustion (which he has yet to achieve).
                    He is the Software
                    Architect for the team.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="/media/Emma.jpg" alt="pic" height="150" width="150" style="border-radius: 50%;">
                <p class="text-center">Emma is a third-year student studying Computer Science in the School of
                    Engineering and Applied Science. She is considering pursuing a focal path in cyber security. She is
                    the Testing Manager for the team.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center extraPadding">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/media/dan.jpg" alt="pic" height="150" width="150" style="border-radius: 50%;">
                <p class="text-center">Daniel is a third year studying Computer Science in the College of
                    Arts and Science. He is the Scrum Master of our team.</p>
            </div>
        </div>
    </div>

</div>



</div>


{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>